@font-face {
  font-family: 'Hyperspace';
  src:  url('Hyperspace.ttf') format('truetype');
}

html {
  font-family: 'Hyperspace', Helvetica, sans-serif;
}

body {
  background: #191919;
}

#game {
  background: #000;
}

#title {
  color: white;
  text-align: center;
  font-size: 32px;
}

#info {
  color: white;
}

#score {
  font-size: 32px;
}

#lives {
  font-size: 18px;
}

#keys {
  margin-top: 50px;
}

#game-over {
  position: relative;
  background-color: black;
  width: 800px;
  height: 400px;
  color: white;
  text-align: center;
}

#game-over p {
  position: absolute;
  width: 100%;
  margin-top: 150px;
  font-size: 2em;
}
